name: gh-pages

on:
  push:
    branches:
    - main
    paths:
    - 'bin/**'
    - 'src/**'
    - 'package.json'
    - 'bun.lockb'

  pull_request:
    paths:
    - '.github/workflows/gh-pages.yml'
    - 'bin/**'
    - 'src/**'
    - 'package.json'
    - 'bun.lockb'

  schedule:
    - cron: '30 * * * *'

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          fetch-depth: 1

      - name: Setup Bun
        uses: oven-sh/setup-bun@a1800f471a0bc25cddac36bb13e6f436ddf341d7 # v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build Source
        run: bun run build

      - name: Setup Pages
        uses: actions/configure-pages@f156874f8191504dae5b037505266ed5dda6c382 # v3.0.6

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './public'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@f27bcc15848fdcdcc02f01754eb838e44bcf389b # v1.2.9

      - name: Keep workflow alive
        uses: gautamkrishnar/keepalive-workflow@05456e7809058d586d96392e99217726ccc10076 # v2.0.5
        with:
          commit_message: 'keep alive'
          committer_username: 'GitHub Action'
          committer_email: 'action@users.noreply.github.com'
          gh_token: '${{ secrets.GITHUB_TOKEN }}'
